<?xml version="1.0"?>

<model>
  <name>HolonomicIdeal</name>
  <version>2.0</version>
  <urdf>model.xacro</urdf>

  <author>
    <name>kousei</name>
    <email>jwthelis@gmail.com</email>
  </author>

  <description>
    Test Robot with no lidar scan noise
    Use for mapping
  </description>
</model>
